<a [routerLink]="marketRouterLink || ['/market', market.id]" class="market">
  <div class="img-container" [style.backgroundImage]="'url(' + market.imageURL + ')'">
    <div *ngIf="market.expiryDays" class="expire-note">หมดเขตจองในอีก {{ market.expiryDays }} วัน</div>
  </div>
  <p class="location"><app-svg-icon key="location-pin"></app-svg-icon> {{ market.location }}</p>
  <p class="name">{{ market.name }}</p>
  <p class="date">วันที่ {{ [market.startDate, market.endDate] | dateRange }}</p>
  <p class="price">เริ่มต้น {{ market.minPrice | currency:'THB':'symbol-narrow' }}</p>
</a>