@import '~styles/common';

.header {
  h1 {
    font-size: 1.6rem;
    margin: 0;
  }
  .lead {
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  .location, .date {
    color: $dark-gray;
    margin-bottom: 0;
    font-size: 0.9rem;
  }
}

.cover-image-container {
  background: $light-gray;
  background-size: cover;
  height: 25rem;
}

nav {
  background: $white;
  z-index: 1;
  border-bottom: 1px solid $light-gray;
  position: sticky;
  top: 0;
  .nav-link {
    @include font-family(heading);
    color: $dark-gray;
    display: inline-block;
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);
    margin-left: map-get($spacers, 4);
    &:first-child {
      margin-left: 0;
    }
    &.active {
      color: $primary;
    }
  }
}

.main-content {
  h2 {
    color: $primary;
    @include font-weight(bold);
    font-size: 1.3rem;
    margin-bottom: map-get($spacers, 4);
  }

  h3 {
    color: $dark-gray;
    @include font-weight(bold);
    font-size: 1.1rem;
    margin-top: map-get($spacers, 4);
    margin-bottom: map-get($spacers, 3);
  }

  hr {
    margin-top: map-get($spacers, 5);
    margin-bottom: map-get($spacers, 5);
  }

  .date, .time {
    margin-bottom: 0;
  }

  .lease-info {
    dd, dt {
      margin-top: map-get($spacers, 2);
      margin-bottom: map-get($spacers, 2);
    }
  }

  .location-map-container {
    background: $light-gray;
    height: 15rem;
  }

  .market-map {
    width: 100%;
  }

  .market-lessor-image {
    width: 5rem;
    height: 5rem;
    background: $light-gray;
    border-radius: 50%;
  }

  .lessor-contact {
    p {
      margin-bottom: 0.2rem;
      &.name {
        @include font-weight(bold);
      }
    }
  }

  .side-content {
    position: sticky;
    top: 5rem;
  }

  .scene-carousel {
    .image-container {
      background: $light-gray;
      height: 20rem;
      border-radius: $border-radius;
    }
    .btn {
      padding: 0;
      background: 0;
      height: 1.8rem;
      @include font-weight(bold);
      &.selected {
        background: $secondary;
        color: $white;
      }
    }
    .image-selector {
      .btn {
        width: 1.8rem;
        margin-left: map-get($spacers, 1);
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .cta-container {
    border: 1px solid $light-gray;
    padding: map-get($spacers, 3) map-get($spacers, 4);
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.05);
    .price {
      p {
        margin-bottom: 0;
      }
      .min {
        color: $primary;
      }
      .max {
        font-size: 0.9rem;
      }
    }
  }
}

.related-markets {
  h2 {
    @include font-weight(bold);
    font-size: 1.6rem;
    margin: 0;
  }
  .market {
    background: $light-gray;
    height: 15rem;
  }
}
