<ng-container *ngIf="(marketDetailObs | async) as marketDetail">
  <app-breadcrumb>
    <a *appBreadcrumbItem routerLink="/">ฟีดตลาด</a>
    <span *appBreadcrumbItem>{{ marketDetail.name }}</span>
  </app-breadcrumb>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <div class="header mt-5 mb-3 d-md-flex flex-md-row justify-content-md-between align-items-md-end">
          <div class="mb-1">
            <h1>{{ marketDetail.name }}</h1>
            <p class="lead">{{ marketDetail.caption }}</p>
          </div>
          <div class="mb-1 text-left text-md-right">
            <p class="location">{{ marketDetail.location.name }}</p>
            <p class="date">วันที่ {{ [marketDetail.openingDate, marketDetail.closingDate] | dateRange }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cover-image-container" [style.backgroundImage]="'url(' + marketDetail.coverImageUrl + ')'"></div>

  <nav>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <a class="nav-link" [class.active]="currentSectionId === 0" routerLink="./" fragment="general">ข้อมูลทั่วไป</a>
          <a class="nav-link" [class.active]="currentSectionId === 1" routerLink="./" fragment="lease-info">ข้อมูลการเช่า</a>
          <a class="nav-link" [class.active]="currentSectionId === 2" routerLink="./" fragment="market-map">แผนผังตลาด</a>
          <a class="nav-link" [class.active]="currentSectionId === 3" routerLink="./" fragment="lessor-contact">ติดต่อผู้ดูแลตลาด</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="container my-5">
    <section class="main-content row justify-content-center align-items-start mb-5">
      <div class="col-12 col-md-10 col-lg-6">
        <h2 #sectionHeading id="general">ข้อมูลทั่วไป</h2>

        <p>{{ marketDetail.description }}</p>

        <h3>วัน&ndash;เวลา</h3>
        <p class="date">วันที่ {{ [marketDetail.openingDate, marketDetail.closingDate] | dateRange }}</p>
        <p class="time">{{ marketDetail.openingTime | date:'shortTime' }} &ndash; {{ marketDetail.closingTime | date:'shortTime' }}น.</p>

        <h3>สถานที่</h3>
        <iframe width="100%" height="300" frameborder="0" style="border:0" [src]="marketMapIframeUrl | async" allowfullscreen></iframe>

        <hr>

        <h2 #sectionHeading id="lease-info">ข้อมูลการเช่า</h2>

        <dl class="row lease-info">
          <dt class="col-12 col-md-4 col-xl-3">สิ่งที่จัดเตรียมให้</dt>
          <dd class="col-12 col-md-8 col-xl-9">
            <div class="row">
              <div class="col-12 col-md-6" *ngFor="let accessory of marketDetail.providedAccessories">
                {{ accessory.name }} x{{ accessory.amount }}
              </div>
            </div>
          </dd>
          <dt class="col-12 col-md-4 col-xl-3">ช่วงราคา</dt>
          <dd class="col-12 col-md-8 col-xl-9">{{ marketDetail.minPrice | currency:'THB':'symbol-narrow' }} &ndash; {{ marketDetail.maxPrice | currency:'THB':'symbol-narrow' }}</dd>
          <dt class="col-12 col-md-4 col-xl-3">จำนวนผู้เข้าชมโดยประมาณ</dt>
          <dd class="col-12 col-md-8 col-xl-9">ประมาณ {{ marketDetail.estimateVisitor | number }} คนต่อวัน</dd>
          <dt class="col-12 col-md-4 col-xl-3">วันหมดเขต</dt>
          <dd class="col-12 col-md-8 col-xl-9">{{ marketDetail.reservationDueDate | date:'d LLLL y' }}</dd>
        </dl>

        <hr>

        <h2 #sectionHeading id="market-map">แผนผังตลาด</h2>
        <img [src]="marketDetail.layoutImageUrl" alt="รูปแผนผังตลาด" class="market-map">

        <hr>

        <h2 #sectionHeading id="lessor-contact">ติดต่อผู้ดูแลตลาด</h2>
        <div class="lessor-contact">
          <p class="name">{{ marketDetail.contact.fullname }}</p>
          <p class="email">{{ marketDetail.contact.email }}</p>
          <p class="tel">{{ marketDetail.contact.phoneNumber }}</p>
        </div>

        <hr class="d-block d-lg-none">
      </div>

      <div class="col-12 col-md-10 col-lg-4 pl-lg-5 side-content">
        <app-scene-carousel class="mb-4" [imgUrls]="marketDetail.scenePhotoUrls"></app-scene-carousel>

        <div class="cta-container d-flex justify-content-between align-items-center">
          <div class="price">
            <p class="min"><strong>เริ่มต้น</strong> {{ marketDetail.minPrice | currency:'THB':'symbol-narrow' }}</p>
            <p class="max"><strong>ถึง</strong> {{ marketDetail.maxPrice | currency:'THB':'symbol-narrow' }}</p>
          </div>
          <a class="btn btn-primary" role="button" routerLink="/">จองบูธ</a>
        </div>
      </div>
    </section>

    <section class="related-markets">
      <h2 class="pt-2 mb-4">คุณอาจสนใจตลาดเหล่านี้</h2>
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 mb-5" *ngFor="let similarMarket of (similarMarketsObs | async)">
          <app-market-item [market]="similarMarket"></app-market-item>
        </div>
      </div>
    </section>
  </div>
</ng-container>