@import '~styles/common';
@import '~styles/global';

:host {
  display: flex;
  justify-content: center;
  .active {
    background: $secondary;
    color: #FFF;
  }
  .btn {
    cursor: pointer;
    width: 2.2rem;
    &:hover {
      background: $light-gray;
    }
  }
  .btn.active {
    &:hover {
      background: $secondary;
    }
  }
  .dot {
    text-align: center;
    width: 2.2rem;
    @include font-family(light);
    &:hover {
      background: none;
    }
  }
}