<div class="row">
  <div class="col-12 mb-4 header">
    <h1>สถานะการชำระเงิน</h1>
    <p class="market-info">
      <span><b>ชื่อตลาด:</b> Fin Marke</span>
    </p>
  </div>
  <div class="col-12">
    <div class="table-responsiv ">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">หมายเลขบูธ</th>
            <th scope="col">ผู้เช่าตลาด</th>
            <th scope="col">สถานะ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">A1</th>
            <td>Kasidit Iamthong</td>
            <td><span class="badge pay-0">ยังไม่ได้ชำระเงิน</span></td>
          </tr>
          <tr>
            <th scope="row">A2</th>
            <td>Kawin Liaowongphuthorn</td>
            <td><span class="badge pay-100">ชำระเงินครบแล้ว</span></td>
          </tr>
          <tr>
            <th scope="row">A3</th>
            <td>Poomarin Phloyaphisut</td>
            <td><span class="badge pay-30">ชำระเงินแล้ว 30%</span></td>
          </tr>
          <tr>
            <th scope="row">A1</th>
            <td>Kasidit Iamthong</td>
            <td><span class="badge pay-30">ชำระเงินแล้ว 30%</span></td>
          </tr>
          <tr>
            <th scope="row">A2</th>
            <td>Kawin Liaowongphuthorn</td>
            <td><span class="badge pay-30">ชำระเงินแล้ว 30%</span></td>
          </tr>
          <tr>
            <th scope="row">A3</th>
            <td>Poomarin Phloyaphisut</td>
            <td><span class="badge pay-100">ชำระเงินครบแล้ว</span></td>
          </tr>
          <tr>
            <th scope="row">A1</th>
            <td>Kasidit Iamthong</td>
            <td><span class="badge pay-100">ชำระเงินครบแล้ว</span></td>
          </tr>
          <tr>
            <th scope="row">A2</th>
            <td>Kawin Liaowongphuthorn</td>
            <td><span class="badge pay-100">ชำระเงินครบแล้ว</span></td>
          </tr>
          <tr>
            <th scope="row">A3</th>
            <td>Poomarin Phloyaphisut</td>
            <td><span class="badge pay-100">ชำระเงินครบแล้ว</span></td>
          </tr>
          <tr>
            <th scope="row">A1</th>
            <td>Kasidit Iamthong</td>
            <td><span class="badge pay-0">ยังไม่ได้ชำระเงิน</span></td>
          </tr>
          <tr>
            <th scope="row">A2</th>
            <td>Kawin Liaowongphuthorn</td>
            <td><span class="badge pay-0">ยังไม่ได้ชำระเงิน</span></td>
          </tr>
          <tr>
            <th scope="row">A3</th>
            <td>Poomarin Phloyaphisut</td>
            <td><span class="badge pay-0">ยังไม่ได้ชำระเงิน</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


