@import '~styles/common';

.breadcrumb {
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
  
  > a, > span {
    @include font-family(heading);
    padding: map-get($spacers, 3) 0;
    display: inline-block;
    color: $gray;
    &:last-child {
      color: $primary;
    }
  }

  > app-svg-icon {
    padding-top: 0.2rem;
    margin: 0 0.7rem;
    color: $gray;
  }
}

