<div class="container">
  <ng-container *ngIf="(receipts$ ) as receipts">
    <div *ngFor="let receipt of receipts" class="receipt-item">
      <div class="row border-bottom-0">
        <div class="col-4">
          <img width="100%"  [src]="receipt.receipt_image">
        </div>
        <div class="col-8">
          <dl>
            <dt>ID</dt>
            <dd>{{ receipt.id }}</dd>
            <dt>Payment date</dt>
            <dd>{{ receipt.payment_date }}</dd>
            <dt>Payment amount</dt>
            <dd>{{ receipt.amount }}</dd>
          </dl>
          <button class="btn btn-outline-success " (click)="removeReceipt(receipt.id, 2)" >Accept</button>
          <button class="btn btn-outline-danger"  (click)="removeReceipt(receipt.id, 3)">Reject</button>
        </div>
        <hr width="100%">
      </div>
      
    </div>
  </ng-container>
  
</div>
    

