<footer>
  <div class="container">
    <div class="row mt-5 pb-2">
      <div class="col-12 col-md-3">
        <ul class="list-unstyled">
          <h4>ทั่วไป</h4>
          <li><a routerLink="/">ฟีดตลาด</a></li>
          <li><a routerLink="/">สมัครสมาชิก</a></li>
          <li><a routerLink="/">เข้าสู่ระบบ</a></li>
          <li><a routerLink="/">ลงตลาดให้เช่า</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <ul class="list-unstyled">
          <h4>ตลาด</h4>
          <li><a routerLink="/">ฟีดตลาด</a></li>
          <li><a routerLink="/">สมัครสมาชิก</a></li>
          <li><a routerLink="/">เข้าสู่ระบบ</a></li>
          <li><a routerLink="/">ลงตลาดให้เช่า</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <ul class="list-unstyled">
          <h4>เวลมาร์ท</h4>
          <li><a routerLink="/">เกี่ยวกับเรา</a></li>
          <li><a routerLink="/">ช่วยเหลือ</a></li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="clearfix">
      <p class="float-left copyright">Copyright &copy; 2017 Whalemart Inc. All rights reserved.</p>
    </div>
  </div>
</footer>