<section class="search-section mb-5 py-4" @searchSectionIn>
  <div class="container">
    <p class="lead-1">ตลาดสุดฮิตมากมาย<wbr> รอให้คุณมาจับจอง</p>
    <p class="lead-2">ค้นหาตลาดง่ายๆ แค่ปลายนิ้ว</p>
    <form [formGroup]="searchForm" class="row align-items-end" (submit)="search()">
      <div class="col-12 col-lg-5">
        <app-input-group label="ชื่อตลาดหรือสถานที่">
          <input appInput [hideValidation]="true" type="text" formControlName="searchQuery" class="form-control form-control-lg" placeholder="ชื่อตลาดหรือสถานที่">
        </app-input-group>
      </div>
      <div class="col-12 col-lg-4">
        <app-input-group label="ช่วงวันจัดตลาด">
          <input appInput type="text" class="form-control form-control-lg" placeholder="ตั้งแต่วันที่ &ndash; ถึงวันที่">
        </app-input-group>
      </div>
      <div class="col-12 col-lg-3 mb-3 mt-2">
        <button type="submit" class="btn btn-lg btn-primary">ค้นหาตลาด</button>
      </div>
    </form>
  </div>
</section>

<div @feedSectionIn>
  <div class="container mb-3">
    <div class="section-title">
      <h2>ตลาดนัดแนะนำ</h2>
    </div>
  </div>

  <!-- TODO: Properly implement carousel -->
  <div class="container mb-5">
    <div class="row">
      <div class="col-12 col-lg-6" *ngFor="let i of coolCarouselLooper">
        <div class="cool-carousel-item mb-4">
          <div class="img-container"></div>
          <div class="card">
            <div class="card-body">
              <h4 class="name">ตลาดนัดถนนรัชดาภิเษก</h4>
              <p class="location">
                <app-svg-icon key="location-pin" width="15"></app-svg-icon>
                <span>ถนนรัชดาภิเษก กทม.</span>
              </p>
              <p class="date">
                <app-svg-icon key="date" width="18"></app-svg-icon>
                <span>18&ndash;24 ธันวาคม 2560</span>
              </p>
              <div class="d-flex justify-content-between align-items-center mt-3">
                <p class="price">เริ่มต้น 1,200฿</p>
                <a routerLink="/" class="btn btn-primary">ดูเพิ่มเติม</a>
              </div>
            </div>
            <div class="card-footer">
                <app-svg-icon key="person-circle"></app-svg-icon>
                <span>มีคนจองตลาดนี้แล้ว 84 คน</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container mb-3">
      <div class="section-title">
        <h2>ตลาดนัดชิวยามค่ำคืน</h2>
        <a class="link-with-icon" routerLink="/">
          <div class="link-text">ดูทั้งหมด</div>
          <div class="link-icon">
            <app-svg-icon key="arrow-head-right" width="8"></app-svg-icon>
          </div>
        </a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 mb-5" *ngFor="let i of carouselLooper">
          <app-market-item></app-market-item>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container mb-3">
      <div class="section-title">
        <h2>ตลาดนัดใต้แสงแดดประเทศไทย</h2>
        <a class="link-with-icon" routerLink="/">
          <div class="link-text">ดูทั้งหมด</div>
          <div class="link-icon">
            <app-svg-icon key="arrow-head-right" width="8"></app-svg-icon>
          </div>
        </a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 mb-5" *ngFor="let i of carouselLooper">
          <app-market-item></app-market-item>
        </div>
      </div>
    </div>
  </section>
</div>