@import '~styles/common';

.search-section {
  @include media-breakpoint-up(lg) {
    background-image: url('/assets/images/bg-under-search-section@2x.jpg');
    background-size: 1183px 497px;
    background-position: top right;
    background-repeat: no-repeat;
  }
  .lead-1 {
    @include font-family(heading);
    @include font-weight(bold);
    margin: 3rem 0 0.5rem 0;
    font-size: 2rem;
    line-height: 2.5rem;
    @include media-breakpoint-up(lg) {
      margin: 6rem 0 0.5rem 0;
    }
  }
  .lead-2 {
    @include font-family(heading);
    @include font-weight(bold);
    color: $primary;
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
  input {
    box-shadow: 0 4px 8px rgba($gray, 0.15);
  }
}

.emphasized-market-item {
  position: relative;
  height: 25rem;
  margin-bottom: 2rem;
  @include media-breakpoint-up(md) {
    height: 18rem;
  }
  .img-container {
    background: $light-gray;
    background-size: cover;
    position: absolute;
    border-radius: $border-radius;
    top: 0;
    bottom: 1rem;
    left: 0;
    right: 2rem;
    @include media-breakpoint-up(md) {
      bottom: 0;
      right: 55%;
    }
  }
  .card {
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 2rem;
    @include media-breakpoint-up(md) {
      bottom: 1rem;
      left: 35%;
    }
    .name {
      @include font-family(heading);
      @include font-weight(bold);
      font-size: 1.3rem;
    }
    .location, .date {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      margin-bottom: map-get($spacers, 2);
      color: $gray;
      > app-svg-icon {
        margin-right: 0.3rem;
      }
    }
    .price {
      font-size: 1.1rem;
      color: $primary;
      margin-bottom: 0;
      font-weight: bold;
    }
    .card-footer {
      display: flex;
      align-items: center;
      background: theme-color-level(secondary, -11);
      color: $secondary;
      font-weight: bold;
      > app-svg-icon {
        margin-right: 0.3rem;
      }
    }
  }
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  a {
    @include font-family(heading);
    @include font-weight(regular);
  }
}

.link-with-icon {
  display: flex;
  align-items: center;
  > .link-text {
    margin-right: 0.3rem;
  }
  > .link-icon {
    margin-top: 2px;
  }
}