<section class="search-section mb-5 py-4" @searchSectionIn>
  <div class="container">
    <p class="lead-1">ตลาดสุดฮิตมากมาย รอให้คุณมาจับจอง</p>
    <p class="lead-2">ค้นหาตลาดง่ายๆ แค่ปลายนิ้ว</p>
    <form [formGroup]="searchForm" class="row align-items-end" (submit)="search()">
      <div class="col-12 col-lg-5">
        <app-input-group label="ชื่อตลาดหรือสถานที่">
          <input appInput [hideValidation]="true" type="text" formControlName="searchQuery" class="form-control form-control-lg -shadow" placeholder="ชื่อตลาดหรือสถานที่">
        </app-input-group>
      </div>
      <div class="col-12 col-lg-4">
        <app-input-group label="ช่วงวันจัดตลาด">
          <input appInput [hideValidation]="true" appDateRangeInput type="text" class="form-control form-control-lg -shadow" formControlName="dateRange" placeholder="ตั้งแต่วันที่ &ndash; ถึงวันที่">
        </app-input-group>
      </div>
      <div class="col-12 col-lg-3 mb-3 mt-2">
        <button type="submit" class="btn btn-lg btn-primary">ค้นหาตลาด</button>
      </div>
    </form>
  </div>
</section>

<div @feedSectionIn>
  <div class="container mb-3">
    <div class="section-title">
      <h2>ตลาดนัดแนะนำ</h2>
    </div>
  </div>

  <div class="container mb-5">
    <div class="row">
      <div class="col-12 col-lg-6" *ngFor="let market of (marketFeed | async).recommended">
        <div class="emphasized-market-item">
          <div class="img-container" [style.backgroundImage]="'url(' + market.imageURL + ')'"></div>
          <div class="card">
            <div class="card-body">
              <h4 class="name">{{ market.name }}</h4>
              <p class="location">
                <app-svg-icon key="location-pin" width="15"></app-svg-icon>
                <span>{{ market.location }}</span>
              </p>
              <p class="date">
                <app-svg-icon key="date" width="18"></app-svg-icon>
                <span>{{ [market.startDate, market.endDate] | dateRange }}</span>
              </p>
              <div class="d-flex justify-content-between align-items-center mt-3">
                <p class="price">เริ่มต้น {{ market.minPrice | currency:'THB':'฿':'3.0' }}</p>
                <a [routerLink]="['/market', market.id]" class="btn btn-primary">ดูเพิ่มเติม</a>
              </div>
            </div>
            <div class="card-footer">
              <app-svg-icon key="person-circle"></app-svg-icon>
            <span>มีคนจองตลาดนี้แล้ว {{ market?.reservedNo }} คน</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="container mb-3">
    <div class="section-title">
      <h2>ตลาดมาใหม่ไฟแรง</h2>
      <a class="link-with-icon" routerLink="/">
        <div class="link-text">ดูทั้งหมด</div>
        <div class="link-icon">
          <app-svg-icon key="arrow-head-right" width="8"></app-svg-icon>
        </div>
      </a>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3 mb-5" *ngFor="let market of (marketFeed | async).recentlyAdded">
        <app-market-item [market]="market"></app-market-item>
      </div>
    </div>
  </section>

  <section class="container mb-3">
    <div class="section-title">
      <h2>ตลาดนัดชิวยามค่ำคืน</h2>
      <a class="link-with-icon" routerLink="/">
        <div class="link-text">ดูทั้งหมด</div>
        <div class="link-icon">
          <app-svg-icon key="arrow-head-right" width="8"></app-svg-icon>
        </div>
      </a>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3 mb-5" *ngFor="let market of (marketFeed | async).night">
        <app-market-item [market]="market"></app-market-item>
      </div>
    </div>
  </section>

  <section class="container mb-3">
    <div class="section-title">
      <h2>ตลาดฤดูหนาว</h2>
      <a class="link-with-icon" routerLink="/">
        <div class="link-text">ดูทั้งหมด</div>
        <div class="link-icon">
          <app-svg-icon key="arrow-head-right" width="8"></app-svg-icon>
        </div>
      </a>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3 mb-5" *ngFor="let market of (marketFeed | async).winter">
        <app-market-item [market]="market"></app-market-item>
      </div>
    </div>
  </section>
</div>