<ng-container *appSubNavBar>
  <div class="filter-bar">
    <div class="filter-item">
      <span>ช่วงราคา</span>
      <app-svg-icon key="arrow-head-down" width="12"></app-svg-icon>
    </div>
    <div class="filter-item">
      <span>วันจัดตลาด</span>
      <app-svg-icon key="arrow-head-down" width="12"></app-svg-icon>
    </div>
    <div class="filter-item">
      <span>ช่วงเวลาที่ตลาดเปิด</span>
      <app-svg-icon key="arrow-head-down" width="12"></app-svg-icon>
    </div>
  </div>
</ng-container>

<div class="container mt-5">
  <ng-container *ngIf="(searchResult | async) as result; else noSearchQuery">
    <div class="row" *ngIf="result.length > 0; else emptySearchResult">
      <div class="col-12 col-sm-6 col-lg-3 mb-5" *ngFor="let market of result; trackBy: marketTrackByFn" @marketInOut>
        <app-market-item [market]="market"></app-market-item>
      </div>
    </div>
    <ng-template #emptySearchResult>
      ไม่พบตลาดที่ตรงตามคำค้น
    </ng-template>
  </ng-container>

  <ng-template #noSearchQuery>กรุณากรอกคำค้นหา</ng-template>
</div>