@import '~styles/common';

.filter-bar {
  display: flex;
  height: 2.5rem;
  align-items: center;
  padding-bottom: 0.2rem;

  app-menu {
    margin-left: 0.5rem;
    &:first-child {
      margin-left: 0;
    }
  }
}

.no-result-suggestion {
  line-height: 1.8rem;
}

.empty-search-result, .no-search-query {
  > h3 {
    color: $primary;
  }
}