<h1>อนุมัติบูธ</h1>

<p>
  สำหรับแต่ละบูธ กรุณาเลือกผู้เช่าที่ต้องการ เมื่อเลือกอนุมัติผู้เช่าตามที่ต้องการแล้ว กรุณากดอนุมัติ
</p>

<section>
  <h2>เลือกบูธ</h2>
  <div class="booth-selector-container">
    <button *ngFor="let booth of (boothsData | async)" class="btn" [class.btn-outline-secondary]="!hasSelectedVendor(booth)" [class.btn-outline-success]="hasSelectedVendor(booth)" [class.active]="booth === selectedBooth" (click)="selectBooth(booth)">
      {{ booth.name }}
    </button>
  </div>
</section>

<section *ngIf="selectedBooth">
  <h2>เลือกผู้เช่า</h2>

  <div class="row">
    <div *ngFor="let vendor of selectedBooth.vendors" class="col-12 col-lg-6">
      <app-vendor [vendor]="vendor" [selected]="isSelectingSelectedBooth(vendor)" (select)="selectVendorBooth(vendor, selectedBooth)" [note]="isSelectingAnotherBooth(vendor) ? 'ผู้เช่ารายนี้ถูกเลือกกับบูธ ' + (getSelectingBooth(vendor) | async).name + ' ไปแล้ว การเลือกผู้เช่าคนนี้กับบูธนี้จะยกเลิกการเลือกผู้เช่านี้กับบูธที่เคยเลือกไว้' : ''"></app-vendor>
    </div>
  </div>
</section>

<button type="button" class="btn btn-primary btn-lg" [disabled]="isProcessing" (click)="submitApproval()">อนุมัติทั้งหมด</button>