@import '~bootstrap/scss/variables';

/* ==========================================================================
    Typography
   ========================================================================== */

._font-heading {
  font-family: 'Lato', 'Mitr', sans-serif !important;
}

._font-body {
  font-family: $font-family-sans-serif !important;
}

._font-light {
  font-weight: 200 !important;
}

._font-regular {
  font-weight: normal !important;
}

._font-bold {
  font-weight: bold !important;
}

strong,
b {
  @extend ._font-bold;
}