@import './common';
@import './font';

// Modified from '~bootstrap/scss/bootstrap'.
// Import what we only want from Bootstrap.

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/print';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/custom-forms';
// @import '~bootstrap/scss/nav';
// @import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
// @import '~bootstrap/scss/breadcrumb';
// @import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/jumbotron';
// @import '~bootstrap/scss/alert';
@import '~bootstrap/scss/progress';
@import '~bootstrap/scss/media';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/tooltip';
@import '~bootstrap/scss/popover';
// @import '~bootstrap/scss/carousel';
@import '~bootstrap/scss/utilities';

// Datepicker stylings

@import '~flatpickr/dist/flatpickr.min.css';
@import '~flatpickr/dist/themes/airbnb.css';

input.datetime[readonly] {
  background: $white;
}

// Angular CDK classes

@import '~@angular/cdk/overlay';

$cdk-z-index-overlay-container: $zindex-modal;
$cdk-z-index-overlay: $zindex-modal;
$cdk-z-index-overlay-backdrop: $zindex-modal-backdrop;
$cdk-overlay-dark-backdrop-background: rgba(0, 0, 0, 0.3);

@include cdk-overlay();

// Other stylings

.form-control-lg {
  padding: 0.8rem 1.4rem;
  font-size: 1rem;
}

.btn-lg {
  font-size: 1rem;
}

.btn {
  @include font-family(heading);
  @include font-weight(regular);
}

select {
  -webkit-appearance: none;
  border-radius: .1rem;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>") !important;
  background-position: 100% 60% !important;
  background-repeat: no-repeat !important;
}

input {
  box-shadow: none !important;
  &:focus {
    box-shadow: none !important;
  }
}

input.-shadow {
  box-shadow: 0 4px 8px rgba($gray, 0.15) !important;
  transition: box-shadow 0.15 ease-in-out;
  &:focus {
    box-shadow: 0 2px 4px rgba($gray, 0.15) !important;
  }
}

dt {
  @include font-family(heading);
}
