<nav class="container navbar" [class.menu-opened]="isMenuOpened">
  <div class="main-nav">
    <a class="logo" routerLink="/">
      <img class="d-none d-lg-block" src="/assets/icons/whalemart-logo-with-name.svg" height="35">
      <img class="d-lg-none" src="/assets/icons/whalemart-logo.svg" height="35">
    </a>

    <app-nav-bar-search-box [class.d-none]="isMenuOpened" *ngIf="isShowNavBarSearchBox()" @searchBoxIn></app-nav-bar-search-box>

    <button type="button" class="hamburger d-md-none my-2 my-sm-0" [class.active]="isMenuOpened" (click)="toggleMenu()">
      <span></span>
    </button>

    <div class="menu-list d-md-block" [class.hidden]="!isMenuOpened">
      <ul *ngIf="(userStatus | async) as status">
        <li class="nav-item active">
          <a class="nav-link" routerLink="become-lessor">เป็นผู้ให้เช่าตลาด</a>
        </li>

        <ng-container *ngIf="status.type === 'loggedIn'">
          <li class="nav-item">
            <a routerLink="/vendor" class="navbar-text">{{ status.user.firstName }}</a>
          </li>
          <button class="btn btn-link my-2 my-sm-0" (click)="logout()">ออกจากระบบ</button>
        </ng-container>

        <ng-container *ngIf="status.type === 'loggedOut'">
          <li class="nav-item">
            <a class="nav-link" routerLink="login">เข้าสู่ระบบ</a>
          </li>
          <a class="btn btn-outline-primary my-2 my-sm-0" routerLink="register">สมัครสมาชิก</a>
        </ng-container>
      </ul>
    </div>
  </div>

  <div class="sub-nav" [class.d-none]="isMenuOpened" *ngIf="(getSubNavBarPortal() | async) as portal" @subNavIn>
    <ng-container [cdkPortalOutlet]="portal"></ng-container>
  </div>
</nav>