<nav class="container navbar">
  <div class="main-nav">
    <a class="logo" routerLink="/">
      <img class="d-none d-lg-block" src="/assets/icons/whalemart-logo-with-name.svg" height="35">
      <img class="d-lg-none" src="/assets/icons/whalemart-logo.svg" height="35">
    </a>

    <app-nav-bar-search-box *ngIf="isShowNavBarSearchBox()"></app-nav-bar-search-box>

    <button type="button" class="hamburger d-md-none btn btn-outline-primary my-2 my-sm-0" (click)="toggleMenu()">เมนู</button>

    <div class="menu-list d-md-block" [class.d-none]="!isMenuOpened">
      <ul *ngIf="(userStatus | async) as status">
        <li class="nav-item active">
          <a class="nav-link" routerLink="become-lessor">ลงตลาดให้เช่า</a>
        </li>

        <ng-container *ngIf="status.type === 'loggedIn'">
          <li class="nav-item">
            <a href="#" class="navbar-text">{{ status.user.firstName }}</a>
          </li>
          <button class="btn btn-link my-2 my-sm-0" (click)="logout()">ออกจากระบบ</button>
        </ng-container>

        <ng-container *ngIf="status.type === 'loggedOut'">
          <li class="nav-item">
            <a class="nav-link" routerLink="login">เข้าสู่ระบบ</a>
          </li>
          <a class="btn btn-outline-primary my-2 my-sm-0" routerLink="register">สมัครสมาชิก</a>
        </ng-container>
      </ul>
    </div>
  </div>

  <div class="sub-nav">
    <ng-container [cdkPortalOutlet]="getSubNavBarPortal() | async"></ng-container>
  </div>
</nav>