<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-5">
      <h1 class="display-4 mt-5">เข้าสู่ระบบ</h1>

      <form (submit)="login()" [formGroup]="loginForm">
        <div *ngIf="isFb">
          <p>Access Token {{ fbAccessToken }}</p>
        </div>

        <app-input-group label="อีเมล">
          <input appInput type="email" class="form-control" placeholder="อีเมล" formControlName="email" required>
          <app-input-error *ngIf="loginForm.controls['email'].hasError('email')">
            กรุณาระบุอีเมล
          </app-input-error>
        </app-input-group>

        <app-input-group label="รหัสผ่าน">
          <input appInput type="password" class="form-control" placeholder="รหัสผ่าน" formControlName="password" required>
          <app-input-error *ngIf="loginForm.controls['password'].hasError('required')">
            กรุณาระบุรหัสผ่าน
          </app-input-error>
        </app-input-group>

        <button class="btn btn-primary btn-lg" type="submit" [disabled]="loginForm.disabled">เข้าสู่ระบบ</button>
        <button class="btn btn-facebook btn-lg ml-2" type="button" (click)="loginWithFacebook()">เข้าสู่ระบบด้วยเฟสบุ๊ค</button>
      </form>
    </div>
  </div>
</div>