<app-breadcrumb>
  <a *appBreadcrumbItem routerLink="/">ชื่อตลาด</a>
  <span *appBreadcrumbItem>ชำระเงินเพื่อยืนยันการเช่าบูธ</span>
</app-breadcrumb>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <!-- header -->
    </div>
  </div>
</div>

<div class="container my-5">
  <section class="main-content row justify-content-center align-items-start mb-5">
    <div class="col-12 col-md-10 col-lg-6 left-content">
      <h2><span>1</span> เลือกรูปแบบการแบ่งชำระ</h2>
      <hr>
      <h2><span>2</span> เลือกวิธีการชำระเงิน</h2>
    </div>

    <div class="col-12 col-md-10 col-lg-4 pl-lg-5 side-content">
      <div class="info-container">
        <div class="data-line">
          <span class="topic">หมายเลขบูธ</span>
          <span>A22</span>
        </div>
        <div class="data-line">
          <span class="topic">ราคาบูธ</span>
          <span>1,200฿</span>
        </div>
        <hr>
        <div class="data-line">
          <span>แบ่งชำระเงิน 30%</span>
          <span>360฿</span>
        </div>
        <div class="data-line">
          <span>ค้างชำระ</span>
          <span>840฿</span>
        </div>
        <hr>
        <div class="data-line">
          <span class="topic">จำนวนเงินที่ต้องชำระ</span>
          <span>360฿</span>
        </div>
      </div>
    </div>
  </section>
</div>
